<a href="https://colab.research.google.com/github/yashvi-design/3rd-YASHVI-.html/blob/main/my%203rd%20code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = "Penguin"
age = 15
is_student = True
weight = 38.5

print("Name :",name)
print("Data type of name is",type(name))
print("Age :",age)
print("Data Type of Age is",type(age))
print("is_student :",is_student)
print("Data Type of is_student",type(is_student))
print("Weight :",weight)
print("Data Type of weight is",type(weight))

print("\n After Type Casting....")
age = str(age)
print(age)
print("Data Type of age is",type(age))
weight = int(weight)
print(weight)
print("Data Type of Weight is",type(weight))

Name : Penguin
Data type of name is <class 'str'>
Age : 15
Data Type of Age is <class 'int'>
is_student : True
Data Type of is_student <class 'bool'>
Weight : 38.5
Data Type of weight is <class 'float'>

 After Type Casting....
15
Data Type of age is <class 'str'>
38
Data Type of Weight is <class 'int'>

In [2]:
# Take input value from user
x = input("Enter Value of x:")
y = input("Enter Value of y:")

# Swapping
temp = x
x = y
y = temp

# Displaying results after swapping
print("value of x after swapping", x)
print("value of y after swapping",y)

Enter Value of x:23
Enter Value of y:50
value of x after swapping 50
value of y after swapping 23

In [3]:
first_name = "Codingal"
last_name = "Educations"
full_name = first_name+last_name
example = "Haa"*5

print("First Name :",first_name)
print("Last Name:",last_name)
print("Full Letter :",full_name)
print("String Multiplied 5 times gives the result :",example)

word = 'Coding'
print("Length of String :",len(word))
print("First Letter of String :",word[0])
print("Last Letter of String",word[5])
print("String Sliced :",word[0:3])

First Name : Codingal
Last Name: Educations
Full Letter : CodingalEducations
String Multiplied 5 times gives the result : HaaHaaHaaHaaHaa
Length of String : 6
First Letter of String : C
Last Letter of String g
String Sliced : Cod