<a href="https://colab.research.google.com/github/yashvi-design/3rd-YASHVI-.html/blob/main/python%202%20code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

# Accessing tuple elements using indexing
my_tuple = ('p','e','r','m','i','t')
print(my_tuple[0])
print(my_tuple[5])

# nestsd tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# nested index
print(n_tuple[0][3])
print(n_tuple[1][1])

# Slicing
print("Sliced :", my_tuple[1:4])

#Iterating through tuple
for letter in (my_tuple):
    print("Hello",letter)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))
p
t
s
4
Sliced : ('e', 'r', 'm')
Hello p
Hello e
Hello r
Hello m
Hello i
Hello t

In [3]:
my_set ={1,2,2,3,4,4,4,}
print("Set :", my_set)

my_set.add(5)
print("Updated Set:", my_set)


set1 = my_set
set2 = {2,4,4,6}

print("\nSet 1", set1)
print("Set 2", set2)
print("Difference")
print(set1.difference(set2))
print("Symmetric Difference")
print(set1.symmetric_difference(set2))

Set : {1, 2, 3, 4}
Updated Set: {1, 2, 3, 4, 5}

Set 1 {1, 2, 3, 4, 5}
Set 2 {2, 4, 6}
Difference
{1, 3, 5}
Symmetric Difference
{1, 3, 5, 6}

In [5]:
setx = {"green", "blue"}
sety = {"blue", "yellow"}
print("Original set elements:")
print(setx)
print(sety)
print("\nIntersection of two said sets:")
setz = setx.intersection(sety)
print(setz)

Original set elements:
{'green', 'blue'}
{'yellow', 'blue'}

Intersection of two said sets:
{'blue'}

In [8]:
setc1 = {"blue", "red"}
setc2 = {"pink", "red"}
print("Original sets:")
print(setc1)
print(setc2)
setc = setc1.union(setc2)
print("\nUnion of above sets:")
print(setc)

Original sets:
{'blue', 'red'}
{'pink', 'red'}

Union of above sets:
{'pink', 'blue', 'red'}